*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: purple;
}
h1{
    margin-top: 50px;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
section{
   margin: 300px auto 0px auto;
   display: inline-block;
}
img{
    width: 200px;
    height: 200px;
}